access_token_expires_minutes=60
aws_instance_ami="ami-0360c520857e3138f"
aws_key_pair_algorithm="RSA || ED25519"
aws_key_pair_name="key-name"
jwt_algorithm="algorithm"
jwt_secret="secret"
me_config_basicauth_password="password"
me_config_basicauth_username="username"
mongo_database_name="database"
mongo_initdb_root_password="password"
mongo_initdb_root_username="username"
